.bash_history
.bash_logout
.bashrc
.gitconfig
.lesshst
.profile
.ssh/
.sudo_as_admin_successful
.vscode-server
.wget-hsts
.redhat/
.gnupg/
.terraform.d/
.terraform/
plans/k8s/.terraform.lock.hcl
plans/k8s/.terraform.tfstate.lock.info
plans/k8s/terraform.tfstate
plans/k8s/terraform.tfstate.backup
.config/htop/htoprc
