.bash_history
.bash_logout
.bashrc
.config/
.env/
.gitconfig
.gnupg/
.kube/
.lesshst
.profile
.redhat/
.ssh/
.sudo_as_admin_successful
.terraform.d/
.terraform/
.vscode-server
.wget-hsts
*.log
# ansible.cfg
kubeconfig
kubectl
terraform/plans/k8s/.terraform.lock.hcl
terraform/plans/k8s/.terraform.tfstate.lock.info
terraform/plans/k8s/terraform.tfstate
terraform/plans/k8s/terraform.tfstate.backup
ansible/playbooks/k3s-ansible-technotim/
