.bash_history
.bash_logout
.bashrc
.config/
.env/
.gitconfig
.gnupg/
.kube/
.lesshst
.profile
.redhat/
.ssh/
.sudo_as_admin_successful
.terraform.d/
.terraform/
.vscode-server
.wget-hsts
*.log
# ansible.cfg
kubeconfig
kubectl
plans/k8s/.terraform.lock.hcl
plans/k8s/.terraform.tfstate.lock.info
plans/k8s/terraform.tfstate
plans/k8s/terraform.tfstate.backup
playbooks/k3s-ansible-technotim/
